@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 150, 150, 150; /* Tono de fondo */
  --background-end-rgb: 200, 200, 200; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 32, 31, 31;
    --background-end-rgb: 32, 31, 31;
  }

  body {
    background-color: #1e1d1d;
    background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 150, 150, 150;
    --background-end-rgb: 200, 200, 200;

    body {
      color: rgb(var(--foreground-rgb));
      background-size: cover;
      background-color: rgba(255, 255, 255, 0.5); /* Transparencia */
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 32, 31, 31;
    --background-end-rgb: 32, 31, 31;
  }

  body {
    color: rgb(var(--foreground-rgb));
    
    background-size: cover;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
